@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(44, 41, 41);
    color: white;
}
header {
        background-color: #4CAF50;
        color: white;
        padding: 10px 0;
        text-align: center;
    }
main {
    padding: 20px;
    align-items: center;
    text-align: center;
}
img{
    width: 20em;
}
.botao{
    width: 3em;
    margin-top: 2em;
}
.completo{
    display: block;
    margin: 2em auto;
    padding: 1em 2em;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
}